body {
    margin: 0;
    background-color: rgb(50, 50, 117);
}

.container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    margin-top: 20px;
}

#home-score, #guest-score {
    background-color: black;
    color: rgb(255, 1, 1);
    text-align: center;
    padding: 10px 30px;
    font-size: 40px;
    font-family:monospace;
}

#new-game{
    display: flex;
    padding: 7px;
    background-color: white;
    color: red;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

button {
    background: none;
    border-color: white;
    color: white;
    margin: 6px;
}

