@font-face {
    font-family: digital7;
    src: url(digital-7.regular.ttf);
}

/* body */
body {
    margin: 0;
    background-image: url("lakers.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: digital7;
}

/* container */
.container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: #F8D210;
    font-size: x-large;
}

/* home and guest score*/ 
#home-score, #guest-score {
    background-color: #4E545C;
    color: #E1C340;
    border: 3px solid #F8D210;
    border-radius: 4px;
    text-align: center;
    padding: 25px 30px;
    font-size: 50px;
}

/* home and guest buttons */
button {
    background: #AEB8C4;
    border-color: #E1C340;
    border-radius: 4px;
    box-shadow: 3px 3px #4E545C;
    color: #5A3E79;
    padding: 6px;
    font-family: digital7;
}


